name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - main
      - develop
  release:
    types:
      - published
  schedule:
    - cron: "1 0 */7 * *"

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: --hook-stage manual --all-files
      - name: Run PyLint
        continue-on-error: true
        run: |
          echo "::add-matcher::$GITHUB_WORKSPACE/.github/matchers/pylint.json"
          pipx run nox -s pylint

  checks:
    name: Check Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    needs: [pre-commit]
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        runs-on: [ubuntu-latest]
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3.0.1
        with:
          python-version: ${{ matrix.python-version }}
          miniforge-variant: Mambaforge
          channels: conda-forge,defaults
          channel-priority: true
          activate-environment: fsspec
      - name: Install build environment
        run: |
          mamba install -c conda-forge "xrootd>=5.4.3"
      - name: Install package
        run: python -m pip install .[test]
      - name: Test package
        run: |
          python -m pytest -vv tests --reruns 10 --reruns-delay 30 --only-rerun "(?i)OSError|FileNotFoundError|timeout|expired|connection|socket"

      - name: Run fsspec-xrootd tests from uproot latest release
        run: |
          python -m pip install uproot
          UPROOT_VERSION=$(pip show uproot | grep Version | awk '{print $2}')
          git clone https://github.com/scikit-hep/uproot5.git uproot
          git -C uproot checkout tags/v${UPROOT_VERSION}
          python -m pip install ./uproot[test]
          # Install xrootd-fsspec again because it may have been overwritten by uproot
          python -m pip install .[test]
          python -m pytest -vv -k "xrootd" uproot/tests --reruns 10 --reruns-delay 30 --only-rerun "(?i)OSError|FileNotFoundError|timeout|expired|connection|socket"

  dist:
    name: Distribution build
    runs-on: ubuntu-latest
    needs: [pre-commit]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build sdist and wheel
        run: pipx run build

      - uses: actions/upload-artifact@v3
        with:
          path: dist

      - name: Check products
        run: pipx run twine check dist/*

      - uses: pypa/gh-action-pypi-publish@v1.8.12
        if: github.event_name == 'release' && github.event.action == 'published'
        with:
          user: __token__
          # Remember to generate this and set it in "GitHub Secrets"
          password: ${{ secrets.pypi_password }}
